.container {
    position: absolute;
    margin: 0 auto;
    padding: 0 2rem;
    left: 160px;

    .post_list {
        h2 {
            color: var(--white-800);
            font: 700 2rem "Inter", sans-serif;
            line-height: 34px;

            text-align: justify;
            letter-spacing: -0.5px;
        }
    }
    
    .button_more {
        width: 176px;
        height: 22px;
    
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    
        text-decoration: none;
        border: none;
        outline: none;
    
        background-color: transparent;
        color: var(--highlight);
    
        /* identical to box height */
        text-align: justify;
    }
}
